body {
  background-image: url("https://marketplace.canva.com/EAFFpvcEQg4/1/0/400w/canva-stars-in-the-universe-galaxy-zoom-virtual-background-Y96-wURsqYs.jpg");
  background-color: #cccccc;
}
p {
  color:white;
  font-size:1.5rem;
}
h1 {
  color:white;
  txt-align:center;
}
a{
  color:red;
  font-size:1.rem;
}
